deep-translator==1.11.4
joblib==1.6.0
langdetect==1.0.9
pandas==3.0.4
psycopg2-binary==2.9.13
selenium==4.49.0
SQLAlchemy==2.1.1
scikit-learn==1.9.1 
dbt-postgres==1.11.0
fastapi==0.136.3
uvicorn==0.54.0

apache-airflow==3.3.2
apache-airflow-providers-standard==1.20.0
apache-airflow-providers-http==6.2.0

pandas==3.0.3
numpy==2.5.3

psycopg2-binary==2.9.13
SQLAlchemy==2.1.1


scikit-learn==1.9.1
joblib==1.6.0
langdetect==1.0.9


selenium==4.49.0


fastapi==0.136.3
uvicorn==0.54.0


python-dotenv==1.2.3


dbt-postgres==1.11.0